*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: var(--general-font)
  /* text-decoration: none; */
}
.padd-15{
  padding: 15px;
}
.padd-x-15{
  padding: 0 15px;
}
.padd-y-15{
  padding: 15px 0
}
html{
  scroll-behavior: smooth ;
}
body{
  background: var(--bg-color);
}
a{
 color: var(--black-color);
 text-decoration: 5px
}
button{
  background: none;
  outline: none;
  border: none
}
h2{
  margin: 5px 0;
}
button:active svg{
  fill: var(--mid-white-color);
}
.button,.box, .style-code-box{
  background: var(--white-color);
  box-shadow: var(--button-shadow);
  outline: none;
  border:none;
}
.button{
  border-radius: 50%;
  padding: 5px 10px;
}
.box{
  border-radius: 10px;
}
.active-page{
  background: var(--button-color);
  padding: 5px;
  border-radius: 2px
}
header{
  background: #0E1116;
  width: 100%;
  min-height: 50px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  z-index: 10;
}
header svg{
  fill: #FFFFFF;
}
header .nav-links{
  display: none;
}
header .nav-links li{
  min-height: 20px;
  display: block;
  margin: 10px 0;
  /* border-top: 1px solid #9C9C9C; */
  display: flex;
  align-items: center;
}
header .nav-links li a{
  color: #fff;
}
header .nav-links li a:active{
  color: var(--mid-white-color);
}
nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: relative;
}
.welcome-box{
  text-align: center;
  background-image: url("../images/celebration.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(50vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #000; */
}
.welcome-box p{
  font-size: 18px
}
.code-show-box-cover{
  width: 95vw;
  margin: 10px auto;
  text-align: center;
}
.code-show-box-cover h2{
  margin: 10px 0;
}
.code-show-box-cover p{
  font-size: 16px;
  margin: 5px 0;
}
.code-show-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.style-code-box{
  max-width: 400px;
  width: 100%;
  height: 350px;
  margin: 10px 0;
  background: #FFFFFF;
  filter: blur(15px);
  opacity: 0%;
  transform: translateY(20px);
  pointer-events: none;
  z-index: 5
  
}/*
.style-code-box::selection{
  background: red;
  color: pink;
}*/
.fade-in{
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
 
}
@keyframes fade-in{
  from{
    filter: blur(15px);
    opacity: 0%;
    transform: translateY(20px)
  }
  to{
    filter: blur(0px);
    opacity: 100%;
    transform: translateY(0);
    pointer-events: visible
  }
}
