*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* text-decoration: none; */
}
.padd-15{
  padding: 15px;
}
.padd-x-15{
  padding: 0 15px;
}
.padd-y-15{
  padding: 15px 0
}
body{
  background: var(--bg-color);
}
a{
 color: var(--black-color);
 text-decoration: 5px
}
button{
  background: none;
  outline: none;
  border: none
}
button:active svg{
  fill: var(--mid-white-color)
}
.button,.box{
  background: var(--white-color);
  box-shadow: var(--button-shadow);
  outline: none;
  border:none;
}
.button{
  border-radius: 50%;
  padding: 5px 10px;
}
.box{
  border-radius: 10px;
}
.active-page{
  background: var(--button-color);
  padding: 5px;
  border-radius: 2px
}
header{
  background: var(--white-color);
  width: 100%;
  min-height: 50px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  overflow: hidden
}
header .nav-links{
  display: none;
}
header .nav-links li{
  display: block;
  margin: 10px 0;
}
nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: relative;
}
.welcome-box{
  text-align: center;
  background-image: url("../images/celebration.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #000; */
}
.welcome-box p{
  font-size: 18px
}
