*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.padd-15{
  padding: 15px;
}
.padd-x-15{
  padding: 0 15px;
}
.padd-y-15{
  padding: 15px 0
}
button{
  background: var(--button-color);
  box-shadow: var(--button-shadow);
  outline: none;
  border:none;
  padding: 5px;
  border-radius: 10pc
}
header{
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
}
nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: relative;
}