:root{
  --general-font: 'sans-serif';
  
  --black-color: rgba(0, 0, 0, 1);
  --white-color:#FFFFFF;
  --mid-white-color: #877F7F;
  --button-color:#E7F3FF;
  --border-color: #E3E3E3;
  --button-shadow: 1px 1px 5px 1px rgba(220, 220, 220, 1);
}
